<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ouhemelle</title>

    <link href="/statics/vendor.css" rel="stylesheet">
    <link href="/statics/app.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form role="form" class="diagram-editor">
                <div class="form-group">
                    <textarea class="form-control" rows="10">A->B: Message</textarea>
                </div>

                <pre class="compilation-error"></pre>

                <button type="submit" class="btn btn-default" disabled>Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <div id="diagram-preview"></div>
        </div>
    </div>
</div>


<script src="/statics/vendor.js"></script>
<script src="/statics/app.js"></script>
</body>
</html>
